<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/base.css") }}">
    <title>{%  block title %}{% endblock %} - Rune Tables</title>
</head>
<body>
    <header>
        {% block header %}
        <div class="content-container">
            <img src="..\\static\\img\\logo.png" alt="Logo do site">
            <!--Colocar imagem do site, deve ser uma mesa com inscrições runicas-->
        </div>


        <nav>
            <div class="content-container">
                <ul id="credentials-menu">
                    <li><a target="_self" href="loginc">Log In</a></li>
                    <li><a target="_self" href="signup.jinja">Sign Up</a></li>
                </ul>
            </div>
        </nav>
        {% endblock %}
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>

</body>
</html>