{% extends "base.jinja" %}

{% block title %}Home{% endblock %}

{% block header %}
    <div class="content-container">
        <img src="..\\static\\img\\logo.png" alt="Logo do site">
        <!--Colocar imagem do site, deve ser uma mesa com inscrições runicas-->
    </div>


    <nav>
        <div class="content-container">
            <ul id="navegation-menu">
                <li>Home</li>
                <li>Contribute to Us</li>
                <li>Our History</li>
            </ul>
        </div>
    </nav>



{% endblock %}
{% block main %}
    <section>
        <article></article>
        <article></article>
    </section>
    <section>
        <article></article>
        <article></article>
    </section>

{% endblock %}

{% block footer %}
    <div class="content-container">
        <p>Site desenvolvido por <a href="https://github.com/VitorMours" target="_blank">João Vitor Rezende Moura</a></p>
    </div>
{% endblock %}