{% extends "base.jinja" %}

{% block title %}Home{% endblock %}


{% block main %}
    <section>
        <article>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ad aspernatur, culpa cumque delectus deleniti est ipsa non quod reiciendis voluptates.
            Assumenda at cupiditate nemo non omnis porro qui sed sunt?
        </article>
        <article></article>
    </section>
    <section>
        <article></article>
        <article></article>
    </section>

{% endblock %}

{% block footer %}
    <div class="content-container">
        <p>Site desenvolvido por <a href="https://github.com/VitorMours" target="_blank">João Vitor Rezende Moura</a></p>
    </div>
{% endblock %}